lebody{
    margin: 0;
    background-color: cornflowerblue;
}
.semi-container{
    display: flex;
    background-color: white;
    margin: 200px 200px;
    flex-direction: column;
    width: 30%;
    
}
.access{
    color: rgb(13, 163, 223);
}
.rules{
    color: rgb(13, 163, 223);
}
.button{
    background-color: rgb(70, 70, 160);
    color: white;
} 